/*-- scss:defaults --*/

$font-family: Calibri, Arial, Helvetica, sans-serif;
$font-family-monospace: 'Consolas', monospace;
$curtin-yellow: #F9E24C;
$ittc-green: #34643B;
$white: #ffffff;
$soft-orange: #f1c298;

$custom-background: linear-gradient(to right, $ittc-green 0%, $curtin-yellow 100%) !default;

/*-- scss:rules --*/

ul ul {
    font-size: 0.9em; /* Adjust the size for the second level */
}

ul ul ul {
    font-size: 0.8em; /* Adjust the size for the third level */
}

/* SCSS for slide title */
#title-slide {
    h1.title {
      color: $curtin-yellow !important;
      font-size: 1.5em;
    }

    .quarto-title-author-name {
      color: $white;
      font-size: 0.8em;
    }
  }

.reveal .footer {
  color: $white;
  background: $custom-background;
  display: block;
  position: fixed;
  padding-bottom: 12px;
  padding-top: 12px;
  bottom: 0px !important;
  width: 100%;
  z-index: 2 !important;
}

.reveal .footer a {
    color: $soft-orange !important;
  }

.reveal .slide-logo {
  margin-bottom: 6px !important;
  z-index: 5 !important;
}

.reveal .gap-before-output {
    margin-top: 2rem;
}

.reveal .slide-menu-button .fa-bars::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255, 255, 255)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
   }

table.dataframe {
  font-size: 0.65em;
}